.mainContainer {
    margin: 100px auto;
    display: grid;
    grid-auto-flow: row;
    width: 500px;
    align-items: center;
    padding: 10px 40px 10px 40px;
    margin: 20px auto; 
}

.deleteHeader {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center; 
}

.deleteText {
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
}

#yesDelete {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 10px 18px;
    cursor: pointer;
    width: 100%;
    background-color: #97d0fe;
    color: white;
    border-radius: 10px;
}

#yesDelete:hover {
    background-color: #87c8fe
}

#noDelete {
    width: 100%;
    background-color: #999999c9;
    border: none;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 10px 18px;
    cursor: pointer;
    width: 100%;
    color: white;
    opacity: 0.8;
    border-radius: 10px;
}

#noDelete:hover {
    background-color: #999999;
}