
.payment-icon {
    margin-right: 5px
}

.payment-received-div {
    border-left: 3px solid #1BC29F;
    padding-left: 5px;
    margin-bottom: 10px
}

.payment-made-div {
    border-left: 3px solid #fa5f05;
    padding-left: 5px;
    margin-bottom: 10px
}

.user-dashboard-text {
    margin-top: 2em;
    margin-bottom: 1em;
    /* font-weight: 700; */
    font-size: 1.3rem;
}

.payments-text {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.3rem;
}
.payments-made-text {
    margin-bottom: 1em;
}

.payments-received-text {
    margin-top: 1em;
    margin-bottom: 1em;
}

.groups-list {
    list-style-type: none;
}

.individual-Group-Img {
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  
  .imageOverlay {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .group-info {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background: linear-gradient(180deg, #00000088 30%, #ffffff44 100%);
    gap: 8px;
    cursor: pointer;
  }

  /* .group-info div {
    margin-bottom: 3px;
  } */

  .group-members {
    display: flex;
    gap: 1em;
  }